body {
    font-family: Arial, sans-serif;
}
#welcomeMessage {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}
.password-container {
    position: relative;
    display: inline-block;
}
.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
